<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 <div class="field">
   
    <%= f.input :first_name, autofocus: true %>
  </div>

 <div class="field">
   
    <%= f.input :last_name %>
  </div>

   <div class="field">
   
    <%= f.input :nickname %>
  </div>

  <div class="field">
    
    <%= f.association :game %> 
  </div>

  <div class="field">
     <%= f.input :avatar, label: 'Coloque sua cara de nerd' %>
  </div>

  <div class="field">
    
    <%= f.input :email %>
  </div>

  <div class="field">
    
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.input :password, autocomplete: "off" %>
  </div>

  <div class="field">
    
    <%= f.input :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
