<!DOCTYPE html>
<html>
<head>
  <title>Ontime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="header" role="navigation">
    <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-2 col-lg-3">
              <div class="logo">
                <h2>CAMPZZzz</h2>
              </div>
          </div>
          <div class="col-xs-6 col-md-10 col-lg-9">
              <div class="right-box-wrapper">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <% if user_signed_in? %>
                    <li><a href="#"><%= current_user.full_name %></a></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                    <li><%= link_to "Login", new_user_session_path %></li>
                    <% end %>
                    <li><a href="#">Link</a></li>
                  </ul>
                  <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <% if @invites %>
                        <% @invites.each do |invite| %>
                        <li><a href="#"><b><%= invite.user.full_nickname %></b> te convidou para integrar o time
                           <b><%= invite.team.name %></b>
                          <button class="btn btn-primary btn-xs" id="accept">Aceitar</button>
                          <button class="btn btn-default btn-xs" id="recuse">Recusar</button>
                        </a></li>
                        <% end %>
                        <% end %>
                      </ul>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div>
          </div>
        </div>
    </div>
</nav>
<div class="box-top">
    <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1 form-new-account">
            <h2 class="title-principal">Crie sua conta agora!!</h2>
            <form>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-trid btn-principal-account">CRIE SUA CONTA</button>
                </div>
            </form>
        </div>
    </div>
      <div class="col-md-6">
        <h2 class="title-principal">Saiba o que esta rolando no Campz agora!!</h2>
    </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
<script type="text/javascript">
$(document).ready(function(){
$('#accept').click(function() {
      event.preventDefault();
      $.ajax ({
        url: Routes.invite_response_path({invite: 1}),
        method: 'post',
        success: function() {
          alert('foi');
        }
      });
    });

$('#recuse').click(function() {
      event.preventDefault();
      $.ajax ({
        url: Routes.invite_response_path({invite: 0}),
        method: 'post',
        success: function() {
          $('#myModal').modal('hide');
          alert('foi');
        }
      });
    });
});
</script>
</html>
